.editPage-bg{
    background-image: url("./../../Image/timothy-eberly-dTLlhgeEJWg-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.UpdateBg-img{
    background-image: url("./../../Image/anika-mikkelson-dWYjy9zIiF8-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}